@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
    font-family: "Inter", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #1f1f1f;
}

#app {
    width: 100%;
    height: 100%;
}

.swipe-enter-active,
.swipe-leave-active {
    transition: all 0.5s ease;
}

.swipe-enter-from,
.swipe-leave-to {
    opacity: 0;
    transform: translateX(0);
}

.swipe-enter-from {
    transform: translateX(-3rem);
}

.swipe-leave-to {
    transform: translateX(3rem);
}
